<a href="https://colab.research.google.com/github/zahidhamidi/GEES/blob/main/CMDB_Automation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Import libraries

import os
import pandas as pd
from openpyxl import load_workbook
import re
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
## python script to read all file names directory in a folder

path = '/content/drive/MyDrive/PETRONAS/W4 November'


for root, directories, files in os.walk(path, topdown=False):
	for name in files:
		print(os.path.join(root, name))
	for name in directories:
		print(os.path.join(root, name))

/content/drive/MyDrive/PETRONAS/W4 November/34 CMDB EUD Batch Upload Template V1.0_08112021.xlsx
/content/drive/MyDrive/PETRONAS/W4 November/People Details - 26 Aug 2021.xlsx
/content/drive/MyDrive/PETRONAS/W4 November/ServiceOwner_OrderStatus_01Dec2021_Auto.xlsx
/content/drive/MyDrive/PETRONAS/W4 November/DAAS (Desktop as a Service) Report – V2 - 01 Dec 2021.xlsx
/content/drive/MyDrive/PETRONAS/W4 November/00 CMDB Register_COMPILED (3).xlsx
/content/drive/MyDrive/PETRONAS/W4 November/35 CMDB EUD Batch Upload Template V1.0_18112021 (1).xlsx

In [4]:
##################################################################################################################################################################################



## Import excel file to pandas (Input ICT2u, 00 CMDB compiled, myGenie, People Details and CMDB Batch Upload Template file path here)
## xlsx1 = ICT2U
## xlsx2 = 00 CMDB Register compiled
## xlsx3 = myGenie DAAS
## xlsx4 = People Details
## xlsx5 = CMDB Batch upload template




xls1 = pd.ExcelFile(r'/content/drive/MyDrive/PETRONAS/W4 November/ServiceOwner_OrderStatus_01Dec2021_Auto.xlsx')
xls2 = pd.ExcelFile(r'/content/drive/MyDrive/PETRONAS/W4 November/00 CMDB Register_COMPILED (3).xlsx')
xls3 = pd.ExcelFile(r'/content/drive/MyDrive/PETRONAS/W4 November/DAAS (Desktop as a Service) Report – V2 - 01 Dec 2021.xlsx')
xls4 = pd.ExcelFile(r'/content/drive/MyDrive/PETRONAS/W4 November/People Details - 26 Aug 2021.xlsx')
xls5 = pd.ExcelFile(r'/content/drive/MyDrive/PETRONAS/W4 November/34 CMDB EUD Batch Upload Template V1.0_08112021.xlsx')


##############################################################################################################################################################################

In [5]:
## Read Excel Data with pandas

data1 = pd.read_excel(xls1, sheet_name="Sheet1")
acc1 = pd.read_excel(xls1, sheet_name="Sheet1")

data2 = pd.read_excel(xls2, sheet_name="CMDB Register Progress")
acc2 = pd.read_excel(xls2, sheet_name="CMDB Register Progress")

data3 = pd.read_excel(xls2, sheet_name="PC INFO")

data6 = pd.read_excel(xls3, sheet_name = "DAAS (Desktop as a Service) Rep")
acc6 = pd.read_excel(xls3, sheet_name = "DAAS (Desktop as a Service) Rep")

data7 = pd.read_excel(xls4, sheet_name = 'People Details')
acc7 = pd.read_excel(xls4, sheet_name = 'People Details')


data8 = pd.read_excel(xls5, sheet_name = 'Device Info')
acc8 = pd.read_excel(xls5, sheet_name = 'Device Info')

In [6]:
## Cleaning empty rows for data1

data1.columns.values[1] = "myGenie Request Number"

nan_value = float("NaN")

data1.replace("", nan_value, inplace=True)

data1.dropna(subset = ["myGenie Request Number"], inplace=True)


## Cleaning empty rows for acc1

acc1.columns.values[1] = "myGenie Request Number"

nan_value = float("NaN")

acc1.replace("", nan_value, inplace=True)

acc1.dropna(subset = ["myGenie Request Number"], inplace=True)

acc1.info

<bound method DataFrame.info of       MyGeniie Created Date  ...                                      Order Details
0       Apr  1 2021  3:29PM  ...  Region Area : PETT (T1) | Alternate Recipient ...
1       Apr  1 2021  3:19PM  ...  Region Area : Central (non-PETT - within Selan...
2       Apr  1 2021  3:19PM  ...  Region Area : Central (non-PETT - within Selan...
3       Apr  2 2021  8:29AM  ...  Region Area : PETT (T1) | Alternate Recipient ...
4       Apr  1 2021  3:39PM  ...  Region Area : PETT (T2) | Alternate Recipient ...
...                     ...  ...                                                ...
14305   Sep 30 2021  3:15PM  ...  Region Area : East Coast (Terengganu) | Altern...
14306   Sep 30 2021  3:15PM  ...  Region Area : East Coast (Terengganu) | Altern...
14307   Sep 30 2021 12:45PM  ...  Region Area : East Malaysia (Sabah & Sarawak) ...
14308   Sep 30 2021 12:45PM  ...  Region Area : East Malaysia (Sabah & Sarawak) ...
14309   Oct  4 2021 10:25AM  ...  Custodian Name : AMIRULISHAM BIN ISMAIL | Posi...

[12211 rows x 25 columns]>

In [7]:
## Filter order item Status, Service Sub Category column

data1 = data1[(data1['Order Item Status'] == 'Completed') & (data1['Service Sub Category'] == 'Personal Computer (PC)')]

In [8]:
## Filter order item status for PC Accessories

acc1 = acc1[(acc1['Order Item Status'] == 'Completed') & (acc1['Service Sub Category'] == 'PC Accessories') & (acc1['Service Name'] != 'Headset') ]
acc1

      MyGeniie Created Date  ...                                      Order Details
276     Apr  9 2021 10:00AM  ...  Region Area : West Malaysia (Johor) | Alternat...
283     Apr  7 2021  3:39PM  ...  Region Area : PETT (T1) | Alternate Recipient ...
313     Apr 12 2021  1:53AM  ...  Region Area : PETT (T2) | Alternate Recipient ...
314     Apr 12 2021  1:53AM  ...  Region Area : PETT (T2) | Alternate Recipient ...
493     Apr 19 2021  6:44AM  ...  Region Area : West Malaysia (Johor) | Alternat...
...                     ...  ...                                                ...
13361   Oct 24 2021  9:14PM  ...  Region Area : PETT (T2) | Alternate Recipient ...
13363   Oct 24 2021  9:04PM  ...  Region Area : PETT (T2) | Alternate Recipient ...
13364   Oct 24 2021  9:04PM  ...  Region Area : PETT (T2) | Alternate Recipient ...
13365   Oct 24 2021  9:04PM  ...  Region Area : PETT (T2) | Alternate Recipient ...
13366   Oct 24 2021  9:04PM  ...  Region Area : PETT (T2) | Alternate Recipient ...

[682 rows x 25 columns]

In [9]:
## Convert Order Number column from float to int

data1['Order Number'] = data1['Order Number'].astype(int)



## Convert order number column from float to int for PC accessories

acc1['Order Number'] = acc1['Order Number'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [10]:
## Clean required columns only for data1

data1 = pd.DataFrame(data1, columns= ['myGenie Request Number','Order Item Number', 'Service Name','Custodian User Name','Custodian Email','Delivery Address','Identifer 1 Value','Identifier 2 Value','Order Details' ])


## Clean required columns only for acc1

acc1 = pd.DataFrame(acc1, columns= ['myGenie Request Number','Order Item Number', 'Service Name','Custodian User Name','Custodian Email','Delivery Address','Identifer 1 Value','Identifier 2 Value','Order Details' ])
acc1

      myGenie Request Number  ...                                      Order Details
276          REQ000003546242  ...  Region Area : West Malaysia (Johor) | Alternat...
283          REQ000003540877  ...  Region Area : PETT (T1) | Alternate Recipient ...
313          REQ000003550044  ...  Region Area : PETT (T2) | Alternate Recipient ...
314          REQ000003550045  ...  Region Area : PETT (T2) | Alternate Recipient ...
493          REQ000003566374  ...  Region Area : West Malaysia (Johor) | Alternat...
...                      ...  ...                                                ...
13361        REQ000004019650  ...  Region Area : PETT (T2) | Alternate Recipient ...
13363        REQ000004019648  ...  Region Area : PETT (T2) | Alternate Recipient ...
13364        REQ000004019737  ...  Region Area : PETT (T2) | Alternate Recipient ...
13365        REQ000004019504  ...  Region Area : PETT (T2) | Alternate Recipient ...
13366        REQ000004019649  ...  Region Area : PETT (T2) | Alternate Recipient ...

[682 rows x 9 columns]

In [11]:
## Create Region column 

data1['Region'] = ""


## Create Region column 

acc1['Region'] = ""

In [12]:
## Cleaning empty rows for data1

nan_value = float("NaN")

data1.replace("", nan_value, inplace=True)

data1.dropna(subset = ["Delivery Address"], inplace=True)


## Cleaning empty rows for acc1

nan_value = float("NaN")

acc1.replace("", nan_value, inplace=True)

acc1.dropna(subset = ["Delivery Address"], inplace=True)

acc1

      myGenie Request Number  ...  Region
276          REQ000003546242  ...     NaN
283          REQ000003540877  ...     NaN
313          REQ000003550044  ...     NaN
314          REQ000003550045  ...     NaN
493          REQ000003566374  ...     NaN
...                      ...  ...     ...
13361        REQ000004019650  ...     NaN
13363        REQ000004019648  ...     NaN
13364        REQ000004019737  ...     NaN
13365        REQ000004019504  ...     NaN
13366        REQ000004019649  ...     NaN

[682 rows x 10 columns]

In [13]:
# ## Fill Region column relative to address data

# data1.assign(Region = "")

# if data1.loc[data1['Delivery Address'].str.contains("Kuala Lumpur")]:
#   data1.insert("Kuala Lumpur", "Region", "")
  

# # data1.loc[data1['Delivery Address'] == 'Kuala Lumpur', 'Region'] = 'Central'

In [18]:
## Clean required columns only for data2

data2 = pd.DataFrame(data2, columns= ['myGenie Request Number','STATUS'])


## Clean required columns only for data2

acc2 = pd.DataFrame(acc2, columns= ['myGenie Request Number','STATUS'])
acc2

      myGenie Request Number                          STATUS
0            REQ000003335819  Requested to Register in  CMDB
1            REQ000003331121  Requested to Register in  CMDB
2            REQ000003331120  Requested to Register in  CMDB
3            REQ000003330945  Requested to Register in  CMDB
4            REQ000003327742  Requested to Register in  CMDB
...                      ...                             ...
15519        REQ000004038654  Requested to Register in  CMDB
15520        REQ000004069943  Requested to Register in  CMDB
15521        REQ000004054654  Requested to Register in  CMDB
15522        REQ000004054654  Requested to Register in  CMDB
15523        REQ000004063555  Requested to Register in  CMDB

[15524 rows x 2 columns]

In [15]:
## VLOOKUP myGenie Request Number   

outer_join = pd.merge(data1, 
                      data2, 
                      on ='myGenie Request Number', 
                      how ='outer')







## VLOOKUP myGenie Request Number (PC Accessories)  

acc_join = pd.merge(acc1, 
                      acc2, 
                      on ='myGenie Request Number', 
                      how ='outer')




acc_join

      myGenie Request Number  ...                          STATUS
0            REQ000003546242  ...  Requested to Register in  CMDB
1            REQ000003540877  ...  Requested to Register in  CMDB
2            REQ000003550044  ...  Requested to Register in  CMDB
3            REQ000003550045  ...  Requested to Register in  CMDB
4            REQ000003566374  ...  Requested to Register in  CMDB
...                      ...  ...                             ...
15536        REQ000004096243  ...  Requested to Register in  CMDB
15537        REQ000004096281  ...  Requested to Register in  CMDB
15538        REQ000004054654  ...  Requested to Register in  CMDB
15539        REQ000004054654  ...  Requested to Register in  CMDB
15540        REQ000004054654  ...  Requested to Register in  CMDB

[15541 rows x 11 columns]

In [16]:
## Get only STATUS column not registered to CMDB

outer_join.drop(outer_join[outer_join['STATUS'] != "Requested to Register in  CMDB"].index, inplace = False)

data4 = outer_join[["Identifier 2 Value","Custodian Email"]]


data4 = data4.rename(columns={'Identifier 2 Value': 'Name'})

In [21]:
## Get only STATUS column not registered to CMDB (PC Accessories)

acc_join.drop(acc_join[acc_join['STATUS'] == "Requested to Register in  CMDB"].index, inplace = True)



acc4 = acc_join[["Identifier 2 Value","Custodian Email"]]


acc4 = acc4.rename(columns={'Identifier 2 Value': 'Name'})

acc_join

    myGenie Request Number  Order Item Number  ... Region STATUS
619        REQ000004047121          2683710.0  ...    NaN    NaN
620        REQ000004046867          2683709.0  ...    NaN    NaN
622        REQ000004043901          2683451.0  ...    NaN    NaN
649        REQ000004046790          2684411.0  ...    NaN    NaN
654        REQ000004051789          2684957.0  ...    NaN    NaN
655        REQ000004051872          2684968.0  ...    NaN    NaN
657        REQ000004057191          2685428.0  ...    NaN    NaN
658        REQ000004054309          2685301.0  ...    NaN    NaN
659        REQ000004054557          2685302.0  ...    NaN    NaN
660        REQ000004054797          2685316.0  ...    NaN    NaN
661        REQ000004055054          2685315.0  ...    NaN    NaN
664        REQ000004065721          2716172.0  ...    NaN    NaN
665        REQ000004065723          2716171.0  ...    NaN    NaN
668        REQ000004061380          2710756.0  ...    NaN    NaN
669        REQ000004061650          2710757.0  ...    NaN    NaN
672        REQ000004087362          2719682.0  ...    NaN    NaN
673        REQ000004087528          2719685.0  ...    NaN    NaN

[17 rows x 11 columns]

In [22]:
#outer_join

In [23]:
## Create new columns

outer_join['Hostname'] = ''



outer_join.Hostname = 'H'     # A single value 'propagates' to all column cells



# Create new columns


acc_join['Hostname'] = ''



acc_join.Hostname = 'H'     # A single value 'propagates' to all column cells
acc_join

    myGenie Request Number  Order Item Number  ... STATUS Hostname
619        REQ000004047121          2683710.0  ...    NaN        H
620        REQ000004046867          2683709.0  ...    NaN        H
622        REQ000004043901          2683451.0  ...    NaN        H
649        REQ000004046790          2684411.0  ...    NaN        H
654        REQ000004051789          2684957.0  ...    NaN        H
655        REQ000004051872          2684968.0  ...    NaN        H
657        REQ000004057191          2685428.0  ...    NaN        H
658        REQ000004054309          2685301.0  ...    NaN        H
659        REQ000004054557          2685302.0  ...    NaN        H
660        REQ000004054797          2685316.0  ...    NaN        H
661        REQ000004055054          2685315.0  ...    NaN        H
664        REQ000004065721          2716172.0  ...    NaN        H
665        REQ000004065723          2716171.0  ...    NaN        H
668        REQ000004061380          2710756.0  ...    NaN        H
669        REQ000004061650          2710757.0  ...    NaN        H
672        REQ000004087362          2719682.0  ...    NaN        H
673        REQ000004087528          2719685.0  ...    NaN        H

[17 rows x 12 columns]

In [24]:
## Rename columns

outer_join1 = outer_join.rename(columns={'Identifier 2 Value': 'Name'})


## Rename columns

acc_join1 = acc_join.rename(columns={'Identifier 2 Value': 'Name'})
acc_join1

    myGenie Request Number  Order Item Number  ... STATUS Hostname
619        REQ000004047121          2683710.0  ...    NaN        H
620        REQ000004046867          2683709.0  ...    NaN        H
622        REQ000004043901          2683451.0  ...    NaN        H
649        REQ000004046790          2684411.0  ...    NaN        H
654        REQ000004051789          2684957.0  ...    NaN        H
655        REQ000004051872          2684968.0  ...    NaN        H
657        REQ000004057191          2685428.0  ...    NaN        H
658        REQ000004054309          2685301.0  ...    NaN        H
659        REQ000004054557          2685302.0  ...    NaN        H
660        REQ000004054797          2685316.0  ...    NaN        H
661        REQ000004055054          2685315.0  ...    NaN        H
664        REQ000004065721          2716172.0  ...    NaN        H
665        REQ000004065723          2716171.0  ...    NaN        H
668        REQ000004061380          2710756.0  ...    NaN        H
669        REQ000004061650          2710757.0  ...    NaN        H
672        REQ000004087362          2719682.0  ...    NaN        H
673        REQ000004087528          2719685.0  ...    NaN        H

[17 rows x 12 columns]

In [25]:
## Reorder columns in outer_join

outer_join1 = outer_join1[["Name","Hostname","Service Name"]]




## Reorder columns in outer_join

acc_join1 = acc_join1[["Name","Hostname","Service Name"]]
acc_join1

           Name Hostname     Service Name
619  5CG124ZX03        H  Docking Station
620  CN413039J4        H      Monitor 24”
622  CN413039K0        H      Monitor 24”
649  CN413039J1        H      Monitor 24”
654  CN41303BQW        H      Monitor 24”
655  CN41303BQV        H      Monitor 24”
657  CN413039HY        H      Monitor 24”
658  5CG124ZX46        H  Docking Station
659  CN41303BPT        H      Monitor 24”
660  CN41182G14        H      Monitor 24”
661  5CG124ZX2K        H  Docking Station
664  CN41303BQ1        H      Monitor 24”
665  5CG123ZCS4        H  Docking Station
668  CN413039JX        H      Monitor 24”
669  5CG124ZWW4        H  Docking Station
672  CN41303BQ7        H      Monitor 24”
673  5CG126X7D6        H  Docking Station

In [26]:
## Creating Hostname column

# making copy of Name column
new = outer_join1["Name"].copy()
 

# overwriting name column
outer_join1["Hostname"]= outer_join1["Hostname"].str.cat(new, sep="")
 




## Creating Hostname column

# making copy of Name column
new_acc = acc_join1["Name"].copy()
 

# overwriting name column
acc_join1["Hostname"]= acc_join1["Hostname"].str.cat(new_acc, sep="")
 
acc_join1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Name     Hostname     Service Name
619  5CG124ZX03  H5CG124ZX03  Docking Station
620  CN413039J4  HCN413039J4      Monitor 24”
622  CN413039K0  HCN413039K0      Monitor 24”
649  CN413039J1  HCN413039J1      Monitor 24”
654  CN41303BQW  HCN41303BQW      Monitor 24”
655  CN41303BQV  HCN41303BQV      Monitor 24”
657  CN413039HY  HCN413039HY      Monitor 24”
658  5CG124ZX46  H5CG124ZX46  Docking Station
659  CN41303BPT  HCN41303BPT      Monitor 24”
660  CN41182G14  HCN41182G14      Monitor 24”
661  5CG124ZX2K  H5CG124ZX2K  Docking Station
664  CN41303BQ1  HCN41303BQ1      Monitor 24”
665  5CG123ZCS4  H5CG123ZCS4  Docking Station
668  CN413039JX  HCN413039JX      Monitor 24”
669  5CG124ZWW4  H5CG124ZWW4  Docking Station
672  CN41303BQ7  HCN41303BQ7      Monitor 24”
673  5CG126X7D6  H5CG126X7D6  Docking Station

In [27]:
## PC part

outer_join1 = outer_join1[["Name","Name","Hostname","Service Name"]]

outer_join1.columns.values[1] = "Serial Number"

outer_join1['Operating System'] = ''
outer_join1['Status'] = ''
outer_join1['Status Reason'] = ''
outer_join1["Operating System"] = ''

outer_join1.Status = 'Deployed'






## PC Accessories part

acc_join1 = acc_join1[["Name","Name","Hostname","Service Name"]]

acc_join1.columns.values[1] = "Serial Number"

acc_join1['Operating System'] = ''
acc_join1['Status'] = ''
acc_join1['Status Reason'] = ''
acc_join1["Operating System"] = ''

acc_join1.Status = 'Deployed'

acc_join1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Name Serial Number  ...    Status Status Reason
619  5CG124ZX03    5CG124ZX03  ...  Deployed
620  CN413039J4    CN413039J4  ...  Deployed
622  CN413039K0    CN413039K0  ...  Deployed
649  CN413039J1    CN413039J1  ...  Deployed
654  CN41303BQW    CN41303BQW  ...  Deployed
655  CN41303BQV    CN41303BQV  ...  Deployed
657  CN413039HY    CN413039HY  ...  Deployed
658  5CG124ZX46    5CG124ZX46  ...  Deployed
659  CN41303BPT    CN41303BPT  ...  Deployed
660  CN41182G14    CN41182G14  ...  Deployed
661  5CG124ZX2K    5CG124ZX2K  ...  Deployed
664  CN41303BQ1    CN41303BQ1  ...  Deployed
665  5CG123ZCS4    5CG123ZCS4  ...  Deployed
668  CN413039JX    CN413039JX  ...  Deployed
669  5CG124ZWW4    5CG124ZWW4  ...  Deployed
672  CN41303BQ7    CN41303BQ7  ...  Deployed
673  5CG126X7D6    5CG126X7D6  ...  Deployed

[17 rows x 7 columns]

In [28]:
## Clean required columns only for data3

data8 = pd.DataFrame(data8, columns= ['ICT2U Model','Category',"Type",'Item','Capability List','PC Model','RAM'])
data8


## Clean required columns only for acc3 (PC Accessories)

acc8 = pd.DataFrame(data8, columns= ['ICT2U Model','Category',"Type",'Item','Capability List','PC Model','RAM'])
acc8

                                       ICT2U Model  ...    RAM
0                                            Riser  ...    NaN
1                                    Laptop (8 GB)  ...    8GB
2                                   Laptop (16 GB)  ...   16GB
3                                    Laptop 2-in-1  ...   16GB
4                                      Monitor 24”  ...    NaN
5                                  Laptop Standard  ...   16GB
6                               Desktop All-in-One  ...    8GB
7                                 Desktop Standard  ...    8GB
8                                  Docking Station  ...    NaN
9                                      Monitor 30"  ...    NaN
10                            Workstation Standard  ...  128GB
11                              Workstation Mobile  ...   32GB
12                                            iPad  ...    NaN
13                                iPad Accessories  ...    NaN
14      Intrinsically Safe Certified Zone 1 Tablet  ...    NaN
15  Intrinsically Safe Certified Zone 1 Smartphone  ...    NaN

[16 rows x 7 columns]

In [29]:
## Rename columns

data3 = data8.rename(columns={'ICT2U Model': 'Service Name'})

data3



## Rename columns

acc3 = acc8.rename(columns={'ICT2U Model': 'Service Name'})

acc3

                                      Service Name  ...    RAM
0                                            Riser  ...    NaN
1                                    Laptop (8 GB)  ...    8GB
2                                   Laptop (16 GB)  ...   16GB
3                                    Laptop 2-in-1  ...   16GB
4                                      Monitor 24”  ...    NaN
5                                  Laptop Standard  ...   16GB
6                               Desktop All-in-One  ...    8GB
7                                 Desktop Standard  ...    8GB
8                                  Docking Station  ...    NaN
9                                      Monitor 30"  ...    NaN
10                            Workstation Standard  ...  128GB
11                              Workstation Mobile  ...   32GB
12                                            iPad  ...    NaN
13                                iPad Accessories  ...    NaN
14      Intrinsically Safe Certified Zone 1 Tablet  ...    NaN
15  Intrinsically Safe Certified Zone 1 Smartphone  ...    NaN

[16 rows x 7 columns]

In [30]:
## VLOOKUP myGenie Request Number   

outer_join2 = pd.merge(outer_join, 
                      data3, 
                      on ='Service Name', 
                      how ='outer')


## Cleaning empty rows for outer_join2

nan_value = float("NaN")

outer_join2.replace("", nan_value, inplace=True)

outer_join2.dropna(subset = ["myGenie Request Number"], inplace=True)






## VLOOKUP myGenie Request Number   

acc_join2 = pd.merge(acc_join, 
                      acc3, 
                      on ='Service Name', 
                      how ='outer')


## Cleaning empty rows for outer_join2

nan_value = float("NaN")

acc_join2.replace("", nan_value, inplace=True)

acc_join2.dropna(subset = ["myGenie Request Number"], inplace=True)



acc_join2

   myGenie Request Number  Order Item Number  ...              PC Model  RAM
0         REQ000004047121          2683710.0  ...      HP USB-C Dock G4  NaN
1         REQ000004054309          2685301.0  ...      HP USB-C Dock G4  NaN
2         REQ000004055054          2685315.0  ...      HP USB-C Dock G4  NaN
3         REQ000004065723          2716171.0  ...      HP USB-C Dock G4  NaN
4         REQ000004061650          2710757.0  ...      HP USB-C Dock G4  NaN
5         REQ000004087528          2719685.0  ...      HP USB-C Dock G4  NaN
6         REQ000004046867          2683709.0  ...  HP EliteDisplay E243  NaN
7         REQ000004043901          2683451.0  ...  HP EliteDisplay E243  NaN
8         REQ000004046790          2684411.0  ...  HP EliteDisplay E243  NaN
9         REQ000004051789          2684957.0  ...  HP EliteDisplay E243  NaN
10        REQ000004051872          2684968.0  ...  HP EliteDisplay E243  NaN
11        REQ000004057191          2685428.0  ...  HP EliteDisplay E243  NaN
12        REQ000004054557          2685302.0  ...  HP EliteDisplay E243  NaN
13        REQ000004054797          2685316.0  ...  HP EliteDisplay E243  NaN
14        REQ000004065721          2716172.0  ...  HP EliteDisplay E243  NaN
15        REQ000004061380          2710756.0  ...  HP EliteDisplay E243  NaN
16        REQ000004087362          2719682.0  ...  HP EliteDisplay E243  NaN

[17 rows x 18 columns]

In [31]:
## Clean required columns only for outer_join2

outer_join2 = pd.DataFrame(outer_join2, columns= ['Service Name','Category',"Type",'Item','PC Model','RAM','PC Model','Capability List'])




## Clean required columns only for acc_join2

acc_join2 = pd.DataFrame(acc_join2, columns= ['Service Name','Category',"Type",'Item','PC Model','RAM','PC Model','Capability List'])

acc_join2

       Service Name  Category  ...              PC Model Capability List
0   Docking Station  Hardware  ...      HP USB-C Dock G4           Other
1   Docking Station  Hardware  ...      HP USB-C Dock G4           Other
2   Docking Station  Hardware  ...      HP USB-C Dock G4           Other
3   Docking Station  Hardware  ...      HP USB-C Dock G4           Other
4   Docking Station  Hardware  ...      HP USB-C Dock G4           Other
5   Docking Station  Hardware  ...      HP USB-C Dock G4           Other
6       Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
7       Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
8       Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
9       Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
10      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
11      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
12      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
13      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
14      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
15      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other
16      Monitor 24”  Hardware  ...  HP EliteDisplay E243           Other

[17 rows x 8 columns]

In [ ]:
# merge1 = pd.merge(outer_join1, outer_join2, on='Service Name')

# merge1

## VLOOKUP myGenie Request Number   

merge1 = pd.merge(outer_join1, 
                      outer_join2, 
                      on ='Service Name', 
                      how ='outer')

final1 = merge1.drop_duplicates(subset="Serial Number")



## Part 2 PC Accessories

   
macc1 = pd.merge(acc_join1, 
                      acc_join2, 
                      on ='Service Name', 
                      how ='outer')

facc1 = macc1.drop_duplicates(subset="Serial Number")

facc1

In [ ]:
## Part 1

final1.drop('Service Name',
  axis='columns', inplace=True)



## Part 2

facc1.drop('Service Name',
  axis='columns', inplace=True)



facc1

In [ ]:
## VLOOKUP myGenie Request Number   

merge2 = pd.merge(final1, 
                      data4, 
                      on ='Name', 
                      how ='outer')






## VLOOKUP myGenie Request Number  (PC Accessories) 

macc2 = pd.merge(facc1, 
                      acc4, 
                      on ='Name', 
                      how ='outer')




macc2

In [ ]:
## Part 1

delivery = outer_join[["Delivery Address","Identifier 2 Value"]]


deli = delivery.rename(columns={'Identifier 2 Value': 'Name'})

deli

merge2 = pd.merge(merge2, 
                      deli, 
                      on ='Name', 
                      how ='outer')



## Part 2

delivery_acc = acc_join[["Delivery Address","Identifier 2 Value"]]


deli_acc = delivery_acc.rename(columns={'Identifier 2 Value': 'Name'})

deli_acc

macc2 = pd.merge(macc2, 
                      deli_acc, 
                      on ='Name', 
                      how ='outer')

In [ ]:
# req = merge2["Category"]

# merge2.insert(loc=7,column = "Type", value = req)

merge2.columns.values[11] = "Short Description"


## Part 2

macc2.columns.values[11] = "Short Description"

In [ ]:
macc2

In [ ]:
## Part 1
merge3 = merge2[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Capability List","Custodian Email","Custodian Email","Custodian Email","PC Model","RAM","Short Description","Item","Capability List","Delivery Address"]]

## Part 2
macc3 = macc2[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Capability List","Custodian Email","Custodian Email","Custodian Email","PC Model","RAM","Short Description","Item","Capability List","Delivery Address"]]
macc3

In [ ]:
## Part 1

merge3.columns.values[10] = "Owned by"
merge3.columns.values[11] = "Owned by (Regional Focal Email)"
merge3.columns.values[12] = "Used by (User Email)"

## Part 2

macc3.columns.values[10] = "Owned by"
macc3.columns.values[11] = "Owned by (Regional Focal Email)"
macc3.columns.values[12] = "Used by (User Email)"
macc3

In [ ]:
## Part 1

merge3['Supported'] = ''



merge3.Supported = 'PETRONAS ICT->EDX-DM->DEVICE MANAGEMENT'     # A single value 'propagates' to all column cells


## Part 2

macc3['Supported'] = ''



macc3.Supported = 'PETRONAS ICT->EDX-DM->DEVICE MANAGEMENT'     # A single value 'propagates' to all column cells
macc3

In [ ]:
## Part 1

merge3 = merge3[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Owned by","Owned by (Regional Focal Email)","Used by (User Email)","Supported","PC Model","RAM","Short Description","Item","Capability List","Delivery Address"]]
merge3

In [ ]:
## Part 2

macc3 = macc3[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Owned by","Owned by (Regional Focal Email)","Used by (User Email)","Supported","PC Model","RAM","Short Description","Item","Capability List","Delivery Address"]]
macc3

In [ ]:
## Part 1

merge3.columns.values[13] = "Supported by (MyGenie Support Group)"
merge3.columns.values[14] = "Model"
merge3.columns.values[15] = "Total RAM"
merge3.columns.values[19] = "Primary Capability"
merge3.columns.values[21] = "Location"


## Part 2

macc3.columns.values[13] = "Supported by (MyGenie Support Group)"
macc3.columns.values[14] = "Model"
macc3.columns.values[15] = "Total RAM"
macc3.columns.values[19] = "Primary Capability"
macc3.columns.values[21] = "Location"

macc3

In [ ]:
## Part 1 

OPU_column = pd.DataFrame(data1, columns = ["Custodian Email","Identifer 1 Value"])
OPU_column.columns.values[0] = "Owned by"

## Part 2

OPU_acc = pd.DataFrame(acc1, columns = ["Custodian Email","Identifer 1 Value"])
OPU_acc.columns.values[0] = "Owned by"
OPU_acc

In [ ]:
## Part 1

merge3['Manufacturer'] = ''
merge3['Domain'] = ''
merge3['Region'] = ''
merge3['OPU'] = ''



## Part 2

macc3['Manufacturer'] = ''
macc3['Domain'] = ''
macc3['Region'] = ''
macc3['OPU'] = ''

macc3

In [ ]:
## Part 1

merge3.Manufacturer = 'Hewlett Packard'     # A single value 'propagates' to all column cells

merge3 = merge3[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Owned by","Owned by (Regional Focal Email)","Used by (User Email)","Supported by (MyGenie Support Group)","Model","Manufacturer","Total RAM","Short Description","Domain","Primary Capability","Location","Region"]]


## Part 2

macc3.Manufacturer = 'Hewlett Packard'     # A single value 'propagates' to all column cells

macc3 = macc3[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Owned by","Owned by (Regional Focal Email)","Used by (User Email)","Supported by (MyGenie Support Group)","Model","Manufacturer","Total RAM","Short Description","Domain","Primary Capability","Location","Region"]]
macc3

In [ ]:
## Part 1
# Inset OPU Column

merge3 = pd.merge(merge3, 
                      OPU_column, 
                      on ='Owned by', 
                      how ='left')

merge3.drop_duplicates(subset ="Owned by",
                     keep = 'first', inplace = True)


merge3

In [ ]:
## Part 2
# Inset OPU Column

macc3 = pd.merge(macc3, 
                      OPU_acc, 
                      on ='Owned by', 
                      how ='left')

macc3.drop_duplicates(subset ="Owned by",
                     keep = 'first', inplace = True)

macc3

In [ ]:
## Part 1

merge3.columns.values[24] = "OPU"

merge3 = merge3[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Owned by","Owned by (Regional Focal Email)","Used by (User Email)","Supported by (MyGenie Support Group)","Model","Manufacturer","Total RAM","Short Description","Domain","Primary Capability","Location","Region","OPU"]]

merge3['Project Number'] = ''
merge3['Project Name'] = ''
merge3['Asset Type'] = ''
merge3['SAP Asset Number'] = ''


## Part 2

macc3.columns.values[24] = "OPU"

macc3 = macc3[["Name","Serial Number","Hostname","Operating System","Status","Status Reason","Category","Type","Item","Owned by","Owned by (Regional Focal Email)","Used by (User Email)","Supported by (MyGenie Support Group)","Model","Manufacturer","Total RAM","Short Description","Domain","Primary Capability","Location","Region","OPU"]]

macc3['Project Number'] = ''
macc3['Project Name'] = ''
macc3['Asset Type'] = ''
macc3['SAP Asset Number'] = ''

macc3

In [ ]:
## Part 1

ict2u_column = pd.DataFrame(data1, columns = ["Custodian Email","Order Item Number"])

ict2u_column.columns.values[1] = "ICT2U Order Number"
ict2u_column.columns.values[0] = "Owned by"


## Part 2

ict2u_acc = pd.DataFrame(acc1, columns = ["Custodian Email","Order Item Number"])

ict2u_acc.columns.values[1] = "ICT2U Order Number"
ict2u_acc.columns.values[0] = "Owned by"

ict2u_acc

In [ ]:
## Part 1
# Inset Order Number Column

merge3 = pd.merge(merge3, 
                      ict2u_column, 
                      on ='Owned by', 
                      how ='inner')

merge3.drop_duplicates(subset ="Owned by",
                     keep = 'first', inplace = True)


merge3

In [ ]:
## Part 2
# Inset Order Number Column

macc3 = pd.merge(macc3, 
                      ict2u_acc, 
                      on ='Owned by', 
                      how ='inner')

macc3.drop_duplicates(subset ="Owned by",
                     keep = 'first', inplace = True)

macc3

In [ ]:
## Part 1

mygenie_column = pd.DataFrame(data1, columns = ["Custodian Email","myGenie Request Number"])

mygenie_column.columns.values[0] = "Owned by"


## Part 2

mygenie_acc = pd.DataFrame(acc1, columns = ["Custodian Email","myGenie Request Number"])

mygenie_acc.columns.values[0] = "Owned by"
mygenie_acc

In [ ]:
## Part 1
# Inset ICT2U Column

merge3 = pd.merge(merge3, 
                      mygenie_column, 
                      on ='Owned by', 
                      how ='inner')


merge3.drop_duplicates(subset ="Owned by",
                     keep = 'first', inplace = True)

merge3

In [ ]:
## Part 2
# Inset ICT2U Column

macc3 = pd.merge(macc3, 
                      mygenie_acc, 
                      on ='Owned by', 
                      how ='inner')


macc3.drop_duplicates(subset ="Owned by",
                     keep = 'first', inplace = True)

macc3

In [ ]:
## Part 1

merge3['Vendor Schedule Number (EOL)'] = ''
merge3['Lessor Returned Verification (EOL)'] = ''
merge3['Return Batch Number (EOL)'] = ''
merge3['Return Item Number (EOL)'] = ''
merge3['Return Date To Lessor (EOL)'] = ''
merge3['Return Date By User (EOL)'] = ''


## Part 2

macc3['Vendor Schedule Number (EOL)'] = ''
macc3['Lessor Returned Verification (EOL)'] = ''
macc3['Return Batch Number (EOL)'] = ''
macc3['Return Item Number (EOL)'] = ''
macc3['Return Date To Lessor (EOL)'] = ''
macc3['Return Date By User (EOL)'] = ''
macc3

In [ ]:
# header_row = 2

# data6.columns = data6.iloc[header_row]


# date_column1 = pd.DataFrame(data6, columns = ["SR Number","Submit Date"])

# date_column1.dropna(subset = ["SR Number"], inplace=True)

# date_column1 = date_column1.drop([0,2])

# date_column1.columns.values[1] = "Contract Start Date"
# date_column1.columns.values[0] = "myGenie Request Number"



# date_column1
# genie

In [ ]:

# merge3 = pd.merge(merge3, 
#                       genie, 
#                       on ='myGenie Request Number', 
#                       how ='inner')

In [ ]:
# # Inset Date columns

# genie = pd.DataFrame(data1,columns= ['myGenie Request Number'] )

# merge3 = pd.merge(merge3, 
#                       genie, 
#                       on ='myGenie Request Number', 
#                       how ='inner')


# merge3

In [ ]:
## Part 1

merge6 = pd.DataFrame(data6, columns= ['DAAS (Desktop as a Service) Report – V2','Unnamed: 7'])

merge6.columns = merge6.iloc[2] 

merge6 = merge6[0:]

In [ ]:
## Part 2

macc6 = pd.DataFrame(acc6, columns= ['DAAS (Desktop as a Service) Report – V2','Unnamed: 7'])

macc6.columns = macc6.iloc[2] 

macc6 = macc6[0:]

macc6

In [ ]:
# Drop rows (Part 1)

merge6 = merge6.drop([merge6.index[0], merge6.index[1],merge6.index[2]])




# Drop rows (Part 2)

macc6 = macc6.drop([macc6.index[0], macc6.index[1],macc6.index[2]])
macc6

In [ ]:
## Rename column[0] as myGenie Request Number (Part 1)

merge6.columns.values[0] = "myGenie Request Number"


## Rename column[0] as myGenie Request Number (Part 2)

macc6.columns.values[0] = "myGenie Request Number"
macc6

In [ ]:
## convert datetime column to only date (Part 1)

merge6['Completion Date1'] = pd.to_datetime(merge6['Completion Date']).dt.date
  


## convert datetime column to only date (Part 2)

macc6['Completion Date1'] = pd.to_datetime(macc6['Completion Date']).dt.date
macc6

In [ ]:
## Part 1
## Drop duplicates in myGenie Request Number column

merge6.drop_duplicates(subset = "myGenie Request Number", keep = 'first', inplace = True )


## Drop COmpletion Date column

merge6.drop(['Completion Date'], axis = 1)


## Part 2
## Drop duplicates in myGenie Request Number column

macc6.drop_duplicates(subset = "myGenie Request Number", keep = 'first', inplace = True )


## Drop COmpletion Date column

macc6.drop(['Completion Date'], axis = 1)
macc6

In [ ]:
# Part 1
# Fill Operating system column

merge3.loc[:,'Operating System'] = 'Windows 10'


# Fill Status Reason column with N/A

merge3.loc[:,'Status Reason'] = 'N/A'

# Fill Domain column with PETRONAS.PETRONET.DIR

merge3.loc[:,'Domain'] = 'PETRONAS.PETRONET.DIR'

# Fill Asset Type column with Leasing

merge3.loc[:,'Asset Type'] = 'Leasing'

# Fill Project Number column with N/A

merge3.loc[:,'Project Number'] = 'N/A'

# Fill Project Name column with N/A

merge3.loc[:,'Project Name'] = 'N/A'

# Fill SAP Asset Number column with N/A

merge3.loc[:,'SAP Asset Number'] = 'N/A'





# Part 2
# Fill Operating system column

macc3.loc[:,'Operating System'] = 'Windows 10'


# Fill Status Reason column with N/A

macc3.loc[:,'Status Reason'] = 'N/A'

# Fill Domain column with PETRONAS.PETRONET.DIR

macc3.loc[:,'Domain'] = 'PETRONAS.PETRONET.DIR'

# Fill Asset Type column with Leasing

macc3.loc[:,'Asset Type'] = 'Leasing'

# Fill Project Number column with N/A

macc3.loc[:,'Project Number'] = 'N/A'

# Fill Project Name column with N/A

macc3.loc[:,'Project Name'] = 'N/A'

# Fill SAP Asset Number column with N/A

macc3.loc[:,'SAP Asset Number'] = 'N/A'

In [ ]:
## Drop Completion Date column (Part 1)

merge6 = merge6.drop(['Completion Date'], axis = 1)


## Drop Completion Date column (Part 2)

macc6 = macc6.drop(['Completion Date'], axis = 1)
macc6

In [ ]:
# Create End of warranty date (Completion Date1 + 3 years) - Part 1

merge6["ContendDate"] = merge6['Completion Date1'] + pd.offsets.DateOffset(years=3)


# Create End of warranty date (Completion Date1 + 3 years) - Part 2

macc6["ContendDate"] = macc6['Completion Date1'] + pd.offsets.DateOffset(years=3)
macc6

In [ ]:
## Create Warranty Start, Warranty end, Status and Registered date columns - Part 1

merge6["Warranty Start"] = merge6["Completion Date1"]
merge6["Warranty End"] = merge6["ContendDate"]
merge6["STATUS"] = "Requested to Register in  CMDB"
merge6["REGISTERED DATE"] = ''



## Create Warranty Start, Warranty end, Status and Registered date columns - Part 2

macc6["Warranty Start"] = macc6["Completion Date1"]
macc6["Warranty End"] = macc6["ContendDate"]
macc6["STATUS"] = "Requested to Register in  CMDB"
macc6["REGISTERED DATE"] = ''
macc6

In [ ]:
# # Inset Date columns - Part 1

merge6 = pd.merge(merge3, 
                      merge6, 
                      on ='myGenie Request Number', 
                      how ='inner')

merge6

In [ ]:
# # Inset Date columns - Part 2

macc6 = pd.merge(macc3, 
                      macc6, 
                      on ='myGenie Request Number', 
                      how ='inner')

macc6

In [ ]:
# Change owned by column with names and certifier - Part 1

data7 = pd.DataFrame(data7,columns= ["Full Name","Internet E-mail"] )
data7["Owned by"] = data7["Internet E-mail"]


# Change owned by column with names and certifier - Part 2

acc7 = pd.DataFrame(acc7,columns= ["Full Name","Internet E-mail"] )
acc7["Owned by"] = acc7["Internet E-mail"]
acc7

In [ ]:
# # Inset Owner Name column - Part 1

merge7 = pd.merge(merge6, 
                      data7, 
                      on ='Owned by', 
                      how ='inner')

merge7

In [ ]:
# # Inset Owner Name column - Part 2

macc7 = pd.merge(macc6, 
                      acc7, 
                      on ='Owned by', 
                      how ='inner')

macc7

In [ ]:
## Part 1
merge7 = merge7.drop(['Internet E-mail'], axis = 1)

merge7

In [ ]:
## Part 2
macc7 = macc7.drop(['Internet E-mail'], axis = 1)
macc7

In [ ]:
## Fill up Owned by column with Full name column data - Part 1

merge7["Owned by"] = merge7["Full Name"]


## Fill up Owned by column with Full name column data - Part 2

macc7["Owned by"] = macc7["Full Name"]
macc7

In [ ]:
## Drop Full name column - Part 1

merge7 = merge7.drop(['Full Name'], axis = 1)


## Drop Full name column - Part 2

macc7 = macc7.drop(['Full Name'], axis = 1)
macc7

In [ ]:
# Extract states from address - Part 1

States = ['Kuala Lumpur','KL','Petronas Twin Towers','PETRONAS Twin Towers','Selangor','Terengganu','Johor','Melaka','Perlis','Kedah','Perak','Negeri Sembilan','Sarawak','Sabah','Kelantan','Pahang', 'Pulau Pinang']
pat = '|'.join(r"\b{}\b".format(x) for x in States)

merge7['States1'] = merge7['Location'].str.extract('('+ pat + ')', expand=False, flags=re.I)



# Extract states from address - Part 2

States = ['Kuala Lumpur','KL','Petronas Twin Towers','PETRONAS Twin Towers','Selangor','Terengganu','Johor','Melaka','Perlis','Kedah','Perak','Negeri Sembilan','Sarawak','Sabah','Kelantan','Pahang', 'Pulau Pinang']
pat = '|'.join(r"\b{}\b".format(x) for x in States)

macc7['States1'] = macc7['Location'].str.extract('('+ pat + ')', expand=False, flags=re.I)
macc7

In [ ]:
# Set the conditions for determining values in new column: - Part 1

conditions = [
    (merge7['States1'] == 'Kuala Lumpur'),
    (merge7['States1'] == 'KL'),
    (merge7['States1'] == 'Petronas Twin Towers'),
    (merge7['States1'] == 'Selangor'),
    (merge7['States1'] == 'Terengganu'),
    (merge7['States1'] == 'Johor'),
    (merge7['States1'] == 'Melaka'),
    (merge7['States1'] == 'Perlis'),
    (merge7['States1'] == 'Kedah'),
    (merge7['States1'] == 'Perak'),
    (merge7['States1'] == 'Negeri Sembilan'),
    (merge7['States1'] == 'Sarawak'),
    (merge7['States1'] == 'Sabah'),
    (merge7['States1'] == 'Kelantan'),
    (merge7['States1'] == 'Pahang'),
    (merge7['States1'] == 'Pulau Pinang'),
    (merge7['States1'] == 'PETRONAS Twin Towers'),
    (merge7['States1'] == 'Kl'),
    (merge7['States1'] == 'KUALA LUMPUR'),
    (merge7['States1'] == 'Labuan'),
    (merge7['States1'] == 'PETRONAS TWIN TOWERS')]


# Set the new column values in order of the conditions they should
#	correspond to:

choices = ['Central','Central','Central','Central','East Coast','West Coast','West Coast','West Coast','West Coast','West Coast','West Coast','East Malaysia', 'East Malaysia','East Coast','East Coast','West Coast','Central','Central','Central','East Malaysia','Central']

# Add new column based on conditions and choices:

merge7['Region1'] = np.select(conditions, choices, default='')
merge7['Region'] = merge7['Region1']

merge7

In [ ]:
# Set the conditions for determining values in new column: - Part 2

conditions = [
    (macc7['States1'] == 'Kuala Lumpur'),
    (macc7['States1'] == 'KL'),
    (macc7['States1'] == 'Petronas Twin Towers'),
    (macc7['States1'] == 'Selangor'),
    (macc7['States1'] == 'Terengganu'),
    (macc7['States1'] == 'Johor'),
    (macc7['States1'] == 'Melaka'),
    (macc7['States1'] == 'Perlis'),
    (macc7['States1'] == 'Kedah'),
    (macc7['States1'] == 'Perak'),
    (macc7['States1'] == 'Negeri Sembilan'),
    (macc7['States1'] == 'Sarawak'),
    (macc7['States1'] == 'Sabah'),
    (macc7['States1'] == 'Kelantan'),
    (macc7['States1'] == 'Pahang'),
    (macc7['States1'] == 'Pulau Pinang'),
    (macc7['States1'] == 'PETRONAS Twin Towers'),
    (macc7['States1'] == 'Kl'),
    (macc7['States1'] == 'KUALA LUMPUR'),
    (macc7['States1'] == 'Labuan'),
    (macc7['States1'] == 'PETRONAS TWIN TOWERS')]


# Set the new column values in order of the conditions they should
#	correspond to:

choices = ['Central','Central','Central','Central','East Coast','West Coast','West Coast','West Coast','West Coast','West Coast','West Coast','East Malaysia', 'East Malaysia','East Coast','East Coast','West Coast','Central','Central','Central','East Malaysia','Central']

# Add new column based on conditions and choices:

macc7['Region1'] = np.select(conditions, choices, default='')
macc7['Region'] = macc7['Region1']

macc7

In [ ]:
## Drop states1 and region1 columns - Part 1

merge7 = merge7.drop(['States1','Region1'], axis = 1)


## Drop states1 and region1 columns - Part 2

macc7 = macc7.drop(['States1','Region1'], axis = 1)
macc7

In [ ]:
## Part 1

merge7['Completion Date1'] = pd.to_datetime(merge7['Completion Date1'], format='%Y-%m-%d')


## Part 2

macc7['Completion Date1'] = pd.to_datetime(macc7['Completion Date1'], format='%Y-%m-%d')
macc7

In [ ]:
## Part 1
merge7.insert(20, 'Lessor', '')

## Part 2
macc7.insert(20, 'Lessor', '')
macc7

In [ ]:
## Fill up lessor with CTC - Part 1

merge7['Lessor'] = "CTC"


## Fill up lessor with CTC - Part 2

macc7['Lessor'] = "CTC"
macc7

In [ ]:
## Part 1

merge7 = merge7.loc[:,~merge7.columns.duplicated()]

## Part 2

macc7 = macc7.loc[:,~macc7.columns.duplicated()]
macc7

In [ ]:
## Part 1

merge7['Completion Date1'] = merge7['Completion Date1'].dt.strftime('%d/%m/%Y')


## Part 2

macc7['Completion Date1'] = macc7['Completion Date1'].dt.strftime('%d/%m/%Y')
macc7

In [ ]:
## Part 1

merge7['ContendDate'] = merge7['ContendDate'].dt.strftime('%d/%m/%Y')


## Part 2

macc7['ContendDate'] = macc7['ContendDate'].dt.strftime('%d/%m/%Y')
macc7

In [ ]:
## Part 1

merge7["Warranty Start"] = merge7["Completion Date1"]
merge7["Warranty End"] = merge7["ContendDate"]


## Part 2

macc7["Warranty Start"] = macc7["Completion Date1"]
macc7["Warranty End"] = macc7["ContendDate"]
macc7

In [ ]:
## Part 1

merge7['Vendor Schedule Number (EOL)'] = 'N/A'
merge7['Return Batch Number (EOL)'] = 'N/A'
merge7['Return Item Number (EOL)'] = 'N/A'
merge7['Return Date To Lessor (EOL)'] = 'N/A'
merge7['Return Date By User (EOL)'] = 'N/A'
merge7['Lessor Returned Verification (EOL)'] = 'N/A'


## Part 2

macc7['Vendor Schedule Number (EOL)'] = 'N/A'
macc7['Return Batch Number (EOL)'] = 'N/A'
macc7['Return Item Number (EOL)'] = 'N/A'
macc7['Return Date To Lessor (EOL)'] = 'N/A'
macc7['Return Date By User (EOL)'] = 'N/A'
macc7['Lessor Returned Verification (EOL)'] = 'N/A'

macc7

In [ ]:


# acc1 = data1[(data1['Order Item Status'] == 'Completed') & (data1['Service Sub Category'] == 'PC Accessories')]
# acc1

In [ ]:
# ##################################################################################################################################################################################3
# ## Part 1
# # determining the name of the file to be saved (Change the file path here)
# file_name = '/content/drive/MyDrive/PETRONAS/35 CMDB EUD Batch Upload Template V1.0_18112021.xlsx'

# ## Part 2
# # determining the name of the file to be saved (Change the file path here)
# file_acc = '/content/drive/MyDrive/PETRONAS/35 CMDB EUD Batch Upload Template V1.0_18112021.xlsx'
  
# # saving the excel
# merge7.to_excel(file_name,'Desktop')
# print('DataFrame is written to Excel File successfully.')

# # saving the excel
# macc7.to_excel(file_acc,'PC Accessories')
# print('DataFrame is written to Excel File successfully.')

###############################################################################################################################################################################

In [ ]:
pip install xlsxwriter

In [ ]:
path = r"/content/drive/MyDrive/PETRONAS/W4 November/35 CMDB EUD Batch Upload Template V1.0_18112021 (1).xlsx"

writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
merge7.to_excel(writer, sheet_name = 'Desktop')
macc7.to_excel(writer, sheet_name = 'PC Accessories')
writer.save()
writer.close()